/* 
    Created on : Mar 16, 2014, 8:16:29 PM
    Author     : MAVAJ SUN CO ( ALI JAMALI ) 
    www.MavajSunCO.com
*/

*{
    margin: 0;
    padding: 0 ;
}
body{
    background-color: darkgrey;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size:12px;
    text-shadow: 1px 1px 1px gray;
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #C1C1C1 100%);
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #C1C1C1 100%);
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #C1C1C1 100%);
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #C1C1C1 100%);
}

@media (min-width:601px ) and ( max-width:800px ){
        /*  Main Section */ 
    #wrapper{
        width: 800px;
        margin: 0 auto;
    }
    /*  Header Section */
    header{
        clear: both;
        margin-top: 20px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }
    /*  MainSlide Section  */
    #MainSlide{
        width: 800px;
    }
    #MainSlide img{
        width: 780px;
        padding: 9px;
        border: 1px solid gainsboro;
        height: auto;
    } 
    /*  MainBody Section*/
    #mainBody{
        clear: both;
        width: 800px;
        margin-top: 18px;
        height: auto;
    }
    #mainBody  div{
        float: left;
        width: 384px;      
        text-align: center;
        border: 1px solid gainsboro;
    }
    #mainBody  div img {
        width: 366px;
        padding: 9px;
        height: auto;
    }
    #mb01{
        margin-right: 15px; 
    }
    #mb02{
        margin-right: 6px; 
        margin-left: 6px; 
    }
    #mb03{
        margin-top: 18px; 
    }
    /*  Blurbs Section*/
    #blurbs{
        clear: both;
        width: 800px;
        margin-top: 18px;
        height: auto;
    }
    #blurbs div{
        float: left;
        width: 384px;      
        text-align: justify;
        border: 1px solid gainsboro;
    }
    #blurbs div p{
        width: 366px;
        padding: 9px;
        height: auto;
    }
    #fb01{
        margin-right: 15px; 
    }
    #fb02{
        margin-right: 6px; 
        margin-left: 6px; 
    }
    #fb03{
        margin-top: 18px; 
    }
    /*  Footer Section*/
    #clear{
        clear: both;
    }

}


@media( min-width: 801px){
    /*  Main Section */ 
    #wrapper{
        width: 1200px;
        margin: 0 auto;
    }
    /*  Header Section */
    header{
        clear: both;
        margin-top: 20px;
        text-align: center;
        font-size: 44px;
        font-weight: bold;
    }
    /*  MainSlide Section  */
    #MainSlide{
        width: 1200px;
    }
    #MainSlide img{
        width: 1180px;
        padding: 9px;
        border: 1px solid gainsboro;
        height: auto;
    } 
    /*  MainBody Section*/
    #mainBody{
        clear: both;
        width: 1200px;
        margin-top: 18px;
        height: auto;
    }
    #mainBody  div{
        float: left;
        width: 384px;      
        text-align: center;
        border: 1px solid gainsboro;
    }
    #mainBody  div img {
        width: 366px;
        padding: 9px 9px 3px 9px;
        height: auto;
    }
    #mb01{
        margin-right: 15px; 
    }
    #mb02{
        margin-right: 6px; 
        margin-left: 6px; 
    }
    #mb03{
        margin-left: 15px; 
    }
    /*  Blurbs Section*/
    #blurbs{
        clear: both;
        width: 1200px;
        margin-top: 18px;
        height: auto;
    }
    #blurbs div{
        float: left;
        width: 384px;      
        text-align: justify;
        border: 1px solid gainsboro;
    }
    #blurbs div p{
        width: 366px;
        padding: 9px;
        height: auto;
    }
    #fb01{
        margin-right: 15px; 
    }
    #fb02{
        margin-right: 6px; 
        margin-left: 6px; 
    }
    #fb03{
        margin-left: 15px; 
    }
    /*  Footer Section*/
    #clear{
        clear: both;
    }
}

@media( max-width: 600px){
    /*  Main Section */ 
    #wrapper{
        width: 320px;
        margin: 0 auto;
    }
    /*  Header Section */
    header{
        clear: both;
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    /*  MainSlide Section  */
    #MainSlide{
        width: 320px;
        margin-top: 20px;
    }
    #MainSlide img{
        width: 300px;
        padding: 9px;
        border: 1px solid gainsboro;
        height: auto;
    } 
    /*  MainBody Section*/
    #mainBody{
        clear: both;
        width: 320px;
        margin-top: 18px;
        height: auto;
    }
    #mainBody  div{
        float: left;
        width: 320px;      
        text-align: center;
        border: 1px solid gainsboro;
    }
    #mainBody  div img {
        width: 300px;
        padding: 9px 9px 3px 9px;
        height: auto;
    }
    #mb02{
        margin-top: 15px; 
    }
    #mb03{
        margin-top: 15px;  
    }
    /*  Blurbs Section*/
    #blurbs{
        clear: both;
        width: 320px;
        margin-top: 18px;
        height: auto;
    }
    #blurbs div{
        float: left;
        width: 320px;      
        text-align: justify;
        border: 1px solid gainsboro;
    }
    #blurbs div p{
        width: 300px;
        padding: 9px;
        height: auto;
    }
    #fb01{
        margin-top: 15px; 
    }
    #fb02{
        margin-top: 15px; 
    }
    #fb03{
        margin-top: 15px; 
    }
    /*  Footer Section*/
    #clear{
        clear: both;
    }
}



